nav {
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: #fafafa;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    background-color: #2e64a1;
    transition: all 0.5s ease;
}

nav ul li a.activo {
    background-color: #2e64a1;
}